[path="5e1f2063447b1"] #lay0 {
	top: 577.5px;
	left: 920.5px;
	bottom: 124.5px;
	right: 35.5px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 68px;
	height: 66px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay0.png') center center / 68px 66px no-repeat;
}

[path="5e1f2063447b1"] #lay0 {}

[path="5e1f2063447b1"] #lay1 {
	top: 25px;
	left: 25.5px;
	bottom: 620px;
	right: 923.5px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 75px;
	height: 123px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay1.png') center center / 75px 123px no-repeat;
}

[path="5e1f2063447b1"] #lay1 {}

[path="5e1f2063447b1"] #lay2 {
	top: 44.5px;
	left: 111px;
	opacity: 1;
	z-index: 298;
	position: absolute;
	width: 571.5px;
	height: 23.5px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay2.png') center center / 571.5px 23.5px no-repeat;
}

[path="5e1f2063447b1"] #lay2 {
}

[path="5e1f2063447b1"] #lay3 {
	top: 651.5px;
	left: 20.5px;
	opacity: 1;
	z-index: 297;
	position: absolute;
	width: 976.5px;
	height: 24px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay3.png') center center / 976.5px 24px no-repeat;
}

[path="5e1f2063447b1"] #lay3 {
}

[path="5e1f2063447b1"] #lay4 {
	top: 143px;
	left: 73.5px;
	bottom: 116.5px;
	right: 809.5px;
	opacity: 1;
	z-index: 296;
	position: absolute;
	width: 141px;
	height: 508.5px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay4.png') center center / 141px 508.5px no-repeat;
}

[path="5e1f2063447b1"] #lay4 {}

[path="5e1f2063447b1"] #lay5 {
	top: 616.5px;
	left: 47px;
	opacity: 1;
	z-index: 295;
	position: absolute;
	width: 730px;
	height: 23.5px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay5.png') center center / 730px 23.5px no-repeat;
}

[path="5e1f2063447b1"] #lay5 {
}

[path="5e1f2063447b1"] #lay6 {
	top: 96px;
	left: 351.5px;
	bottom: 188.5px;
	right: 343.5px;
	opacity: 1;
	z-index: 294;
	position: absolute;
	width: 329px;
	height: 483.5px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay6.png') center center / 329px 483.5px no-repeat;
}

[path="5e1f2063447b1"] #lay6 {}

[path="5e1f2063447b1"] #lay7 {
	top: 559.5px;
	left: 359.5px;
	bottom: 158px;
	right: 259px;
	opacity: 1;
	z-index: 293;
	position: absolute;
	width: 405.5px;
	height: 50.5px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay7.png') center center / 405.5px 50.5px no-repeat;
}

[path="5e1f2063447b1"] #lay7 {}

[path="5e1f2063447b1"] #lay8 {
	top: 25px;
	left: 765px;
	bottom: 693px;
	right: 32.5px;
	opacity: 1;
	z-index: 292;
	position: absolute;
	width: 226.5px;
	height: 50px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay8.png') center center / 226.5px 50px no-repeat;
}

[path="5e1f2063447b1"] #lay8 {}

[path="5e1f2063447b1"] #lay9 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 291;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_lay9.png') center center / 1024px 768px no-repeat;
}

[path="5e1f2063447b1"] #lay9 {}

[path="5e1f2063447b1"] [popup="popup01"] #_content div {
	top: 0;
	left: 0;
	bottom: 117px;
	right: 217px;
	opacity: 1;
	z-index: 4;
	position: absolute;
	width: 733px;
	height: 541px;
	display: block;
	background: url('screen/5e1f2063447b1/images/5e1f2063447b1_popup_01_content.png') center center / 733px 541px no-repeat;
}

[path='5e1f2063447b1'] [popup='popup01'] #_content {
	top: 110px;
	left: 74px;
	bottom: 117px;
	right: 217px;
	opacity: 1;
	z-index: 4;
	position: absolute;
	width: 733px;
	height: 572.5px;
	display: block;
	background: none;
}