[path="5e1f2070b9e89"] #lay0 {
	top: 25px;
	left: 25.5px;
	bottom: 620px;
	right: 923.5px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 75px;
	height: 123px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay0.png') center center / 75px 123px no-repeat;
}

[path="5e1f2070b9e89"] #lay0 {}

[path="5e1f2070b9e89"] #lay1 {
	top: 44.5px;
	left: 114.5px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 585.5px;
	height: 23.5px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay1.png') center center / 585.5px 23.5px no-repeat;
}

[path="5e1f2070b9e89"] #lay1 {
}

[path="5e1f2070b9e89"] #lay2 {
	top: 87.5px;
	left: 426px;
	bottom: 574px;
	right: 501.5px;
	opacity: 1;
	z-index: 298;
	position: absolute;
	width: 96.5px;
	height: 106.5px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay2.png') center center / 96.5px 106.5px no-repeat;
}

[path="5e1f2070b9e89"] #lay2 {}

[path="5e1f2070b9e89"] #lay3 {
	position: absolute;
	z-index: 297;
	top: 179.5px;
	left: 476.5px;
	margin-left: 0;
	width: 459.5px;
	height: 258.5px;
	background: url(screen/5e1f2070b9e89/images/5e1f2070b9e89_lay3.png) center center / 459.5px 258.5px no-repeat;
	opacity: 0;
}

[path="5e1f2070b9e89"] #lay3 {}

[path="5e1f2070b9e89"] #lay4 {
	position: absolute;
	z-index: 296;
	top: 319px;
	left: 57.5px;
	margin-left: 0;
	width: 415px;
	height: 140px;
	background: url(screen/5e1f2070b9e89/images/5e1f2070b9e89_lay4.png) center center / 415px 140px no-repeat;
	opacity: 0;
}

[path="5e1f2070b9e89"] #lay4 {}

[path="5e1f2070b9e89"] #lay5 {
	position: absolute;
	z-index: 295;
	top: 476px;
	left: 476.5px;
	margin-left: 0;
	width: 482px;
	height: 99.5px;
	background: url(screen/5e1f2070b9e89/images/5e1f2070b9e89_lay5.png) center center / 482px 99.5px no-repeat;
	opacity: 0;
}

[path="5e1f2070b9e89"] #lay5 {}

[path="5e1f2070b9e89"] #lay6 {
	top: 197px;
	left: 465.5px;
	bottom: 244.5px;
	right: 541px;
	opacity: 1;
	z-index: 294;
	position: absolute;
	width: 17.5px;
	height: 326.5px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay6.png') center center / 17.5px 326.5px no-repeat;
}

[path="5e1f2070b9e89"] #lay6 {}

[path="5e1f2070b9e89"] #lay7 {
	top: 602px;
	left: 102.5px;
	opacity: 1;
	z-index: 293;
	position: absolute;
	width: 813.5px;
	height: 63px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay7.png') center center / 813.5px 63px no-repeat;
}

[path="5e1f2070b9e89"] #lay7 {
}

[path="5e1f2070b9e89"] #lay8 {
	top: 25px;
	left: 765px;
	bottom: 693px;
	right: 32.5px;
	opacity: 1;
	z-index: 292;
	position: absolute;
	width: 226.5px;
	height: 50px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay8.png') center center / 226.5px 50px no-repeat;
}

[path="5e1f2070b9e89"] #lay8 {}

[path="5e1f2070b9e89"] #lay9 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 291;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f2070b9e89/images/5e1f2070b9e89_lay9.png') center center / 1024px 768px no-repeat;
}

[path="5e1f2070b9e89"] #lay9 {}