[popup] {
	display: none;
	opacity: 0;
	z-index: 940;
	position: absolute;
	width: 100%;
	height: 100%;
}

#menu {
	position: absolute;
	width: 1024px;
	height: 1px;
	z-index: 950;
	top: 0;
}

#menu .subMenu.current {
	display: block !important;
}

[reference] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	z-index: 600;
}

[reference] ul li {
	padding-bottom: 10px;
	font-family: 'AvenirNext-Regular';
	color: #717073;
}

#menu .maxMenu a,
#menu .subMenu a {
	position: relative;
}

#menu .maxMenu a span,
#menu .subMenu a span {
	z-index: 2;
	position: relative;
}

[popup] div::-webkit-scrollbar,
#menu div::-webkit-scrollbar {
	display: none !important;
}

#menu .ref {
	top: 733px;
	left: 758.5px;
	bottom: 12.5px;
	right: 243px;
	opacity: 1;
	z-index: 50;
	position: absolute;
	width: 22.5px;
	height: 22.5px;
	display: block;
	background: url('theme/theme4/images/template_navbar_element_ref.png') center center / 22.5px 22.5px no-repeat;
}

#menu .lay49 {
	top: 732.5px;
	left: 806.5px;
	bottom: 12.5px;
	right: 201px;
	opacity: 1;
	z-index: 49;
	position: absolute;
	width: 16.5px;
	height: 23px;
	display: block;
	background: url('theme/theme4/images/template_navbar_element_rcp.png') center center / 16.5px 23px no-repeat;
}

#menu .logo {
	top: 719px;
	left: 849px;
	bottom: 10.5px;
	right: 15.5px;
	opacity: 1;
	z-index: 48;
	position: absolute;
	width: 159.5px;
	height: 38.5px;
	display: block;
	background: url('theme/theme4/images/template_navbar_element_logo.png') center center / 159.5px 38.5px no-repeat;
}

#menu .lay47 {
	top: 688.5px;
	left: 0px;
	bottom: 42px;
	right: 959.5px;
	opacity: 1;
	z-index: 47;
	position: absolute;
	width: 64.5px;
	height: 37.5px;
	display: block;
	background: url('theme/theme4/images/template_navbar_element_sub.png') center center / 64.5px 37.5px no-repeat;
}

#menu .home {
	top: 726px;
	left: 0px;
	bottom: 0px;
	right: 955.5px;
	opacity: 1;
	z-index: 46;
	position: absolute;
	width: 68.5px;
	height: 42px;
	display: block;
	background: url('theme/theme4/images/template_navbar_element_home.png') center center / 68.5px 42px no-repeat;
}

#menu .lay45 {
	top: 708px;
	left: 716px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 45;
	position: absolute;
	width: 308px;
	height: 60px;
	display: block;
	background: url('theme/theme4/images/template_navbar_element_min_menu.png') center center / 308px 60px no-repeat;
}

#menu .lay44 {
	top: 720px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 44;
	position: absolute;
	width: 1024px;
	height: 48px;
	display: block;
	background: url('theme/theme4/images/template_nav_primary_bkg.png') center center / 1024px 48px no-repeat;
	overflow: hidden;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#menu .maxMenu a {
	position: relative;
	width: auto;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 10px 0 10px;
	white-space: pre-wrap;
	word-break: break-word;
	margin: 0;
	display: inline-block;
	height: 48px;
	line-height: 48px;
}
#menu .maxMenu a:first-child {
	padding-left: 78.5px;
}
#menu .maxMenu a:last-child {
	padding-right: 78.5px;
}

#menu .maxMenu a.current::before {
	top: 0;
	left: 0;
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(theme/theme4/images/template_nav_primary_roll.png) left top / 14px 48px repeat-x;
	opacity: 0.50196078431373;
}

#menu .maxMenu a {
	color: rgba(255, 255, 255, 255);
	font-size: 15.60965px;
	font-family: 'Gotham-Book';
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	font-weight: normal;
	font-style: normal;
}

#menu .maxMenu a.current {
	color: rgba(255, 255, 255, 255);
	font-size: 15.60965px;
	font-family: 'Gotham-Bold';
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	font-weight: normal;
	font-style: normal;
}

#menu .subMenu {
	top: 692.5px;
	left: 68.5px;
	bottom: 48px;
	right: 719px;
	opacity: 1;
	z-index: 45;
	position: absolute;
	width: 236.5px;
	height: 27.5px;
	display: block;
	background: url('theme/theme4/images/template_nav_secondary_bkg.png') center center / 236.5px 27.5px no-repeat;
	overflow: hidden;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#menu .subMenu a {
	position: relative;
	width: auto;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 15px 0 26px;
	white-space: pre-wrap;
	word-break: break-word;
	margin: 0;
	display: inline-block;
	height: 27.5px;
	line-height: 27.5px;
}
#menu .subMenu a[data-sub="5e1f206e267ca"] {
	padding-left: 55px;
}
#menu .subMenu a[data-sub="c231a843eb417"] {
	padding-left: 50px;
}

#menu .subMenu a {
	color: rgba(255, 255, 255, 255);
	font-size: 16px;
	font-family: 'ArialMT';
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	font-weight: normal;
	font-style: normal;
}

#menu .subMenu a.current {
	color: rgba(255, 255, 255, 255);
	font-size: 16px;
	font-family: 'Arial-BoldMT';
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0em;
	font-weight: normal;
	font-style: normal;
}

[reference] [btn-reference-close] {
	top: 313.5px;
	left: 827px;
	bottom: 431.5px;
	right: 174.5px;
	opacity: 1;
	z-index: 5;
	position: absolute;
	width: 22.5px;
	height: 23px;
	display: block;
	background: url('theme/theme4/images/template_reference_btn.png') center center / 22.5px 23px no-repeat;
}

[reference] li {
	color: rgba(113, 112, 115, 255);
	font-size: 16.5px;
	font-family: 'AvenirNext-Regular';
	text-transform: none;
	text-decoration: none;
	letter-spacing: -0.01em;
	font-weight: normal;
	font-style: normal;
	top: 0;
	position: initial;
}

[reference] ._bkg {
	top: 249px;
	left: 474.5px;
	bottom: 66px;
	right: 63px;
	opacity: 1;
	z-index: 3;
	position: absolute;
	width: 486.5px;
	height: 453px;
	display: block;
	background: url('theme/theme4/images/template_reference_bkg.png') center center / 486.5px 453px no-repeat;
}

[reference] ._layer {
	top: 0px;
	left: 0px;
	bottom: 25px;
	right: 0px;
	opacity: 1;
	z-index: 2;
	position: absolute;
	width: 1024px;
	height: 743px;
	display: block;
	background: url('theme/theme4/images/template_reference_layer.png') center center / 1024px 743px no-repeat;
}

[reference] #referenceScroller {
	position: absolute;
	left: 543px;
	top: 411px;
	width: 350px;
	height: 210px;
	overflow: hidden;
	opacity: 1;
	z-index: 4;
}

#stage .content [popup] [btn-popup-close] {
	top: 106.5px;
	left: 672px;
	bottom: 635px;
	right: 326px;
	opacity: 1;
	z-index: 5;
	position: absolute;
	width: 26px;
	height: 26.5px;
	display: block;
	background: url('theme/theme4/images/template_popup_btn.png') center center / 26px 26.5px no-repeat;
}

#stage .content [popup] #_bkg {
	top: 17px;
	left: 157.5px;
	bottom: 75.5px;
	right: 141px;
	opacity: 1;
	z-index: 2;
	position: absolute;
	width: 725.5px;
	height: 675.5px;
	display: block;
	background: url('theme/theme4/images/template_popup_bkg.png') center center / 725.5px 675.5px no-repeat;
}

#stage .content [popup] #_layer {
	top: 0px;
	left: 0px;
	bottom: 25px;
	right: 0px;
	opacity: 1;
	z-index: 1;
	position: absolute;
	width: 1024px;
	height: 743px;
	display: block;
	background: url('theme/theme4/images/template_popup_layer.png') center center / 1024px 743px no-repeat;
}