@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.animated-background {
    background-image: linear-gradient(120deg, #536976, #292e49);
}

.radial-pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vmax;
    height: 50vmax;
    transform-origin: center;
    translate: -50% -50%;
    border-radius: 45% 55% 50% 50%;
    background: radial-gradient(ellipse, rgba(83,105,118,0.6) 0%, rgba(200,210,215,0.2) 50%, transparent 70%);
    filter: blur(40px);
    animation: pulse 12s ease-in-out infinite;
}

.radial-pulse-bl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vmax;
    height: 50vmax;
    transform-origin: center;
    translate: -50% 50%;
    border-radius: 45% 55% 50% 50%;
    background: radial-gradient(ellipse, rgba(83,105,118,0.6) 0%, rgba(200,210,215,0.2) 50%, transparent 70%);
    filter: blur(40px);
    animation: pulse 12s ease-in-out infinite;
}

.radial-pulse-br {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vmax;
    height: 50vmax;
    transform-origin: center;
    translate: 50% 50%;
    border-radius: 45% 55% 50% 50%;
    background: radial-gradient(ellipse, rgba(83,105,118,0.6) 0%, rgba(200,210,215,0.2) 50%, transparent 70%);
    filter: blur(40px);
    animation: pulse 12s ease-in-out infinite;
}
