[path="5e1f204c70d05"] #lay0 {
	top: 25px;
	left: 25.5px;
	bottom: 620px;
	right: 923.5px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 75px;
	height: 123px;
	display: block;
	background: url('screen/5e1f204c70d05/images/5e1f204c70d05_lay0.png') center center / 75px 123px no-repeat;
}

[path="5e1f204c70d05"] #lay0 {}

[path="5e1f204c70d05"] #lay1 {
	top: 45px;
	left: 119px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 214px;
	height: 23px;
	display: block;
	background: url('screen/5e1f204c70d05/images/5e1f204c70d05_lay1.png') center center / 214px 23px no-repeat;
}

[path="5e1f204c70d05"] #lay1 {
}

[path="5e1f204c70d05"] #lay2 {
	top: 126.5px;
	left: 284px;
	opacity: 1;
	z-index: 298;
	position: absolute;
	width: 266px;
	height: 27px;
	display: block;
	background: url('screen/5e1f204c70d05/images/5e1f204c70d05_lay2.png') center center / 266px 27px no-repeat;
}

[path="5e1f204c70d05"] #lay2 {
}

[path="5e1f204c70d05"] #lay3 {
	position: absolute;
	z-index: 297;
	top: 190.5px;
	left: 35px;
	margin-left: 0;
	width: 247.5px;
	height: 318.5px;
	background: url(screen/5e1f204c70d05/images/5e1f204c70d05_lay3.png) center center / 247.5px 318.5px no-repeat;
	opacity: 0;
}

[path="5e1f204c70d05"] #lay3 {}

[path="5e1f204c70d05"] #lay4 {
	position: absolute;
	z-index: 296;
	top: 190.5px;
	left: 288.5px;
	margin-left: 0;
	width: 258.5px;
	height: 333.5px;
	background: url(screen/5e1f204c70d05/images/5e1f204c70d05_lay4.png) center center / 258.5px 333.5px no-repeat;
	opacity: 0;
}

[path="5e1f204c70d05"] #lay4 {}

[path="5e1f204c70d05"] #lay5 {
	position: absolute;
	z-index: 295;
	top: 190.5px;
	left: 548px;
	margin-left: 0;
	width: 258.5px;
	height: 333.5px;
	background: url(screen/5e1f204c70d05/images/5e1f204c70d05_lay5.png) center center / 258.5px 333.5px no-repeat;
	opacity: 0;
}

[path="5e1f204c70d05"] #lay5 {}

[path="5e1f204c70d05"] #lay6 {
	position: absolute;
	z-index: 294;
	top: 110.5px;
	left: 835px;
	margin-left: 0;
	width: 149px;
	height: 522.5px;
	background: url(screen/5e1f204c70d05/images/5e1f204c70d05_lay6.png) center center / 149px 522.5px no-repeat;
	opacity: 0;
}

[path="5e1f204c70d05"] #lay6 {}

[path="5e1f204c70d05"] #lay7 {
	position: absolute;
	z-index: 293;
	width: 0px;
	opacity: 0;
	height: 132.5px;
	top: 549.5px;
	left: 0px;
	margin-left: 0;
	margin-top: 0;
	background: url(screen/5e1f204c70d05/images/5e1f204c70d05_lay7.png) left center / 822.5px 132.5px no-repeat;
}

[path="5e1f204c70d05"] #lay7 {}

[path="5e1f204c70d05"] #lay8 {
	top: 25px;
	left: 765px;
	bottom: 693px;
	right: 32.5px;
	opacity: 1;
	z-index: 292;
	position: absolute;
	width: 226.5px;
	height: 50px;
	display: block;
	background: url('screen/5e1f204c70d05/images/5e1f204c70d05_lay8.png') center center / 226.5px 50px no-repeat;
}

[path="5e1f204c70d05"] #lay8 {}

[path="5e1f204c70d05"] #lay9 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 291;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f204c70d05/images/5e1f204c70d05_lay9.png') center center / 1024px 768px no-repeat;
}

[path="5e1f204c70d05"] #lay9 {}