[path="5e1f205189b2f"] #lay0 {
	top: 25px;
	left: 25.5px;
	bottom: 620px;
	right: 923.5px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 75px;
	height: 123px;
	display: block;
	background: url('screen/5e1f205189b2f/images/5e1f205189b2f_lay0.png') center center / 75px 123px no-repeat;
}

[path="5e1f205189b2f"] #lay0 {}

[path="5e1f205189b2f"] #lay1 {
	top: 597.5px;
	left: 920.5px;
	bottom: 104.5px;
	right: 35.5px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 68px;
	height: 66px;
	display: block;
	background: url('screen/5e1f205189b2f/images/5e1f205189b2f_lay1.png') center center / 68px 66px no-repeat;
}

[path="5e1f205189b2f"] #lay1 {}

[path="5e1f205189b2f"] #lay2 {
	top: 45px;
	left: 112.5px;
	opacity: 1;
	z-index: 298;
	position: absolute;
	width: 458.5px;
	height: 59px;
	display: block;
	background: url('screen/5e1f205189b2f/images/5e1f205189b2f_lay2.png') center center / 458.5px 59px no-repeat;
}

[path="5e1f205189b2f"] #lay2 {
}

[path="5e1f205189b2f"] #lay3 {
	position: absolute;
	z-index: 297;
	top: 422.5px;
	left: 489px;
	margin-left: 0;
	width: 419px;
	height: 257.5px;
	background: url(screen/5e1f205189b2f/images/5e1f205189b2f_lay3.png) center center / 419px 257.5px no-repeat;
	opacity: 0;
}

[path="5e1f205189b2f"] #lay3 {}

[path="5e1f205189b2f"] #lay4 {
	position: absolute;
	z-index: 296;
	top: 422.5px;
	left: 44.5px;
	margin-left: 0;
	width: 419px;
	height: 253px;
	background: url(screen/5e1f205189b2f/images/5e1f205189b2f_lay4.png) center center / 419px 253px no-repeat;
	opacity: 0;
}

[path="5e1f205189b2f"] #lay4 {}

[path="5e1f205189b2f"] #lay5 {
	position: absolute;
	z-index: 295;
	top: 139px;
	left: 489px;
	margin-left: 0;
	width: 419px;
	height: 253px;
	background: url(screen/5e1f205189b2f/images/5e1f205189b2f_lay5.png) center center / 419px 253px no-repeat;
	opacity: 0;
}

[path="5e1f205189b2f"] #lay5 {}

[path="5e1f205189b2f"] #lay6 {
	position: absolute;
	z-index: 294;
	top: 139px;
	left: 45px;
	margin-left: 0;
	width: 418.5px;
	height: 253px;
	background: url(screen/5e1f205189b2f/images/5e1f205189b2f_lay6.png) center center / 418.5px 253px no-repeat;
	opacity: 0;
}

[path="5e1f205189b2f"] #lay6 {}

[path="5e1f205189b2f"] #lay7 {
	top: 25px;
	left: 765px;
	bottom: 693px;
	right: 32.5px;
	opacity: 1;
	z-index: 293;
	position: absolute;
	width: 226.5px;
	height: 50px;
	display: block;
	background: url('screen/5e1f205189b2f/images/5e1f205189b2f_lay7.png') center center / 226.5px 50px no-repeat;
}

[path="5e1f205189b2f"] #lay7 {}

[path="5e1f205189b2f"] #lay8 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 292;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f205189b2f/images/5e1f205189b2f_lay8.png') center center / 1024px 768px no-repeat;
}

[path="5e1f205189b2f"] #lay8 {}

[path="5e1f205189b2f"] [popup="popup01"] #_content div {
	top: 0;
	left: 0;
	bottom: 10.5px;
	right: 269.5px;
	opacity: 1;
	z-index: 4;
	position: absolute;
	width: 468.5px;
	height: 474.5px;
	display: block;
	background: url('screen/5e1f205189b2f/images/5e1f205189b2f_popup_01_content.png') center center / 468.5px 474.5px no-repeat;
}

[path='5e1f205189b2f'] [popup='popup01'] #_content {
	top: 263px;
	left: 286px;
	bottom: 10.5px;
	right: 269.5px;
	opacity: 1;
	z-index: 4;
	position: absolute;
	width: 468.5px;
	height: 306.5px;
	display: block;
	background: none;
	overflow-y: scroll;
}