[path="5e1f207e07265"] #lay0 {
	top: 14.5px;
	left: 300px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 368px;
	height: 19px;
	display: block;
	background: url('screen/5e1f207e07265/images/5e1f207e07265_lay0.png') center center / 368px 19px no-repeat;
}

[path="5e1f207e07265"] #lay0 {
}

[path="5e1f207e07265"] #lay1 {
	top: 8.5px;
	left: 681.5px;
	bottom: 728.5px;
	right: 292px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 50.5px;
	height: 31px;
	display: block;
	background: url('screen/5e1f207e07265/images/5e1f207e07265_lay1.png') center center / 50.5px 31px no-repeat;
}

[path="5e1f207e07265"] #lay1 {}

[path="5e1f207e07265"] #lay2 {
	position: absolute;
	z-index: 298;
	top: 393px;
	left: 344px;
	margin-top: 0;
	margin-left: 0;
	width: 366.5px;
	height: 81px;
	background: url(screen/5e1f207e07265/images/5e1f207e07265_lay2.png) center center / 366.5px 81px no-repeat;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	opacity: 0;
}

[path="5e1f207e07265"] #lay2 {}

[path="5e1f207e07265"] #lay3 {
	position: absolute;
	z-index: 297;
	top: 560px;
	left: 557.5px;
	margin-left: 0;
	width: 425.5px;
	height: 114px;
	background: url(screen/5e1f207e07265/images/5e1f207e07265_lay3.png) center center / 425.5px 114px no-repeat;
	opacity: 0;
}

[path="5e1f207e07265"] #lay3 {}

[path="5e1f207e07265"] #lay4 {
	position: absolute;
	z-index: 296;
	top: 352.5px;
	left: 746px;
	margin-left: 0;
	width: 169px;
	height: 169px;
	background: url(screen/5e1f207e07265/images/5e1f207e07265_lay4.png) center center / 169px 169px no-repeat;
	opacity: 0;
}

[path="5e1f207e07265"] #lay4 {}

[path="5e1f207e07265"] #lay5 {
	position: absolute;
	z-index: 295;
	top: 61.5px;
	left: 437.5px;
	margin-left: 0;
	width: 169px;
	height: 169px;
	background: url(screen/5e1f207e07265/images/5e1f207e07265_lay5.png) center center / 169px 169px no-repeat;
	opacity: 0;
}

[path="5e1f207e07265"] #lay5 {}

[path="5e1f207e07265"] #lay6 {
	position: absolute;
	z-index: 294;
	top: 357.5px;
	left: 90.5px;
	margin-left: 0;
	width: 169px;
	height: 169px;
	background: url(screen/5e1f207e07265/images/5e1f207e07265_lay6.png) center center / 169px 169px no-repeat;
	opacity: 0;
}

[path="5e1f207e07265"] #lay6 {}

[path="5e1f207e07265"] #lay7 {
	position: absolute;
	z-index: 293;
	top: 560px;
	left: 48.5px;
	margin-left: 0;
	width: 425.5px;
	height: 114px;
	background: url(screen/5e1f207e07265/images/5e1f207e07265_lay7.png) center center / 425.5px 114px no-repeat;
	opacity: 0;
}

[path="5e1f207e07265"] #lay7 {}

[path="5e1f207e07265"] #lay8 {
	top: 117px;
	left: 195.5px;
	bottom: 9.5px;
	right: 78.5px;
	opacity: 1;
	z-index: 292;
	position: absolute;
	width: 750px;
	height: 641.5px;
	display: block;
	background: url('screen/5e1f207e07265/images/5e1f207e07265_lay8.png') center center / 750px 641.5px no-repeat;
}

[path="5e1f207e07265"] #lay8 {}

[path="5e1f207e07265"] #lay9 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 291;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f207e07265/images/5e1f207e07265_lay9.png') center center / 1024px 768px no-repeat;
}

[path="5e1f207e07265"] #lay9 {}