[path="5e1f206f757dd"] #lay0 {
	top: 313.5px;
	left: 827px;
	bottom: 431.5px;
	right: 174.5px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 22.5px;
	height: 23px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay0.png') center center / 22.5px 23px no-repeat;
}

[path="5e1f206f757dd"] #lay0 {}

[path="5e1f206f757dd"] #lay1 {
	top: 424.5px;
	left: 540px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 163.5px !important;
	height: 16.5px;
	display: block;
}

[path="5e1f206f757dd"] #lay1 {
	text-align: left;
	letter-spacing: 0px;
	line-height: 1.2;
	transform: rotate(0deg) scale(1, 1);
	transform-origin: 0 0;
}

[path="5e1f206f757dd"] #lay2 {
	top: 456px;
	left: 540.5px;
	opacity: 1;
	z-index: 298;
	position: absolute;
	width: 139px !important;
	height: 16.5px;
	display: block;
}

[path="5e1f206f757dd"] #lay2 {
	text-align: left;
	letter-spacing: 0px;
	line-height: 1.2;
	transform: rotate(0deg) scale(1, 1);
	transform-origin: 0 0;
}

[path="5e1f206f757dd"] #lay3 {
	top: 249px;
	left: 474.5px;
	bottom: 66px;
	right: 63px;
	opacity: 1;
	z-index: 297;
	position: absolute;
	width: 486.5px;
	height: 453px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay3.png') center center / 486.5px 453px no-repeat;
}

[path="5e1f206f757dd"] #lay3 {}

[path="5e1f206f757dd"] #lay4 {
	top: 0px;
	left: 0px;
	bottom: 25px;
	right: 0px;
	opacity: 1;
	z-index: 296;
	position: absolute;
	width: 1024px;
	height: 743px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay4.png') center center / 1024px 743px no-repeat;
}

[path="5e1f206f757dd"] #lay4 {}

[path="5e1f206f757dd"] #lay5 {
	top: 50px;
	left: 50px;
	bottom: 640px;
	right: 621.5px;
	opacity: 1;
	z-index: 295;
	position: absolute;
	width: 352.5px;
	height: 78px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay5.png') center center / 352.5px 78px no-repeat;
}

[path="5e1f206f757dd"] #lay5 {}

[path="5e1f206f757dd"] #lay6 {
	top: 53.5px;
	left: 701.5px;
	bottom: 596.5px;
	right: 129px;
	opacity: 1;
	z-index: 294;
	position: absolute;
	width: 193.5px;
	height: 118px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay6.png') center center / 193.5px 118px no-repeat;
}

[path="5e1f206f757dd"] #lay6 {}

[path="5e1f206f757dd"] #lay7 {
	top: 345.5px;
	left: 607.5px;
	bottom: 257px;
	right: 291px;
	opacity: 1;
	z-index: 293;
	position: absolute;
	width: 125.5px;
	height: 165.5px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay7.png') center center / 125.5px 165.5px no-repeat;
}

[path="5e1f206f757dd"] #lay7 {}

[path="5e1f206f757dd"] #lay8 {
	top: 330px;
	left: 104.5px;
	bottom: 262px;
	right: 796px;
	opacity: 1;
	z-index: 292;
	position: absolute;
	width: 123.5px;
	height: 176px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay8.png') center center / 123.5px 176px no-repeat;
}

[path="5e1f206f757dd"] #lay8 {}

[path="5e1f206f757dd"] #lay9 {
	position: absolute;
	z-index: 291;
	top: 571.5px;
	left: 214.5px;
	margin-left: 0;
	width: 192px;
	height: 70.5px;
	background: url(screen/5e1f206f757dd/images/5e1f206f757dd_lay9.png) center center / 192px 70.5px no-repeat;
	opacity: 0;
}

[path="5e1f206f757dd"] #lay9 {}

[path="5e1f206f757dd"] #lay10 {
	position: absolute;
	z-index: 290;
	top: 571.5px;
	left: 428px;
	margin-left: 0;
	width: 372.5px;
	height: 70.5px;
	background: url(screen/5e1f206f757dd/images/5e1f206f757dd_lay10.png) center center / 372.5px 70.5px no-repeat;
	opacity: 0;
}

[path="5e1f206f757dd"] #lay10 {}

[path="5e1f206f757dd"] #lay11 {
	position: absolute;
	z-index: 289;
	top: 641px;
	left: 155.5px;
	margin-left: 0;
	width: 708px;
	height: 27.5px;
	background: url(screen/5e1f206f757dd/images/5e1f206f757dd_lay11.png) center center / 708px 27.5px no-repeat;
	opacity: 0;
}

[path="5e1f206f757dd"] #lay11 {}

[path="5e1f206f757dd"] #lay12 {
	position: absolute;
	z-index: 288;
	top: 540px;
	left: 19px;
	margin-left: 0;
	width: 297.5px;
	height: 20.5px;
	background: url(screen/5e1f206f757dd/images/5e1f206f757dd_lay12.png) center center / 297.5px 20.5px no-repeat;
	opacity: 0;
}

[path="5e1f206f757dd"] #lay12 {}

[path="5e1f206f757dd"] #lay13 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 287;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f206f757dd/images/5e1f206f757dd_lay13.png') center center / 1024px 768px no-repeat;
}

[path="5e1f206f757dd"] #lay13 {}