[path="5e1f2074634e5"] #lay0 {
	top: 45px;
	left: 119.5px;
	opacity: 1;
	z-index: 300;
	position: absolute;
	width: 186px;
	height: 23px;
	display: block;
	background: url('screen/5e1f2074634e5/images/5e1f2074634e5_lay0.png') center center / 186px 23px no-repeat;
}

[path="5e1f2074634e5"] #lay0 {
}

[path="5e1f2074634e5"] #lay1 {
	top: 25px;
	left: 25.5px;
	bottom: 620px;
	right: 923.5px;
	opacity: 1;
	z-index: 299;
	position: absolute;
	width: 75px;
	height: 123px;
	display: block;
	background: url('screen/5e1f2074634e5/images/5e1f2074634e5_lay1.png') center center / 75px 123px no-repeat;
}

[path="5e1f2074634e5"] #lay1 {}

[path="5e1f2074634e5"] #lay2 {
	top: 641.5px;
	left: 25.5px;
	opacity: 1;
	z-index: 298;
	position: absolute;
	width: 966px;
	height: 20px;
	display: block;
	background: url('screen/5e1f2074634e5/images/5e1f2074634e5_lay2.png') center center / 966px 20px no-repeat;
}

[path="5e1f2074634e5"] #lay2 {
}

[path="5e1f2074634e5"] #lay3 {
	top: 140px;
	left: 88.5px;
	bottom: 142px;
	right: 64px;
	opacity: 1;
	z-index: 297;
	position: absolute;
	width: 871.5px;
	height: 486px;
	display: block;
	background: url('screen/5e1f2074634e5/images/5e1f2074634e5_lay3.png') center center / 871.5px 486px no-repeat;
}

[path="5e1f2074634e5"] #lay3 {}

[path="5e1f2074634e5"] #lay4 {
	top: 10.5px;
	left: 826px;
	bottom: 673px;
	right: 35px;
	opacity: 1;
	z-index: 296;
	position: absolute;
	width: 163px;
	height: 84.5px;
	display: block;
	background: url('screen/5e1f2074634e5/images/5e1f2074634e5_lay4.png') center center / 163px 84.5px no-repeat;
}

[path="5e1f2074634e5"] #lay4 {}

[path="5e1f2074634e5"] #lay5 {
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
	z-index: 295;
	position: absolute;
	width: 1024px;
	height: 768px;
	display: block;
	background: url('screen/5e1f2074634e5/images/5e1f2074634e5_lay5.png') center center / 1024px 768px no-repeat;
}

[path="5e1f2074634e5"] #lay5 {}